{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 </title>
    <link rel="stylesheet" href="{% static '/assets/css/404 .css' %}">
</head>

<body>
    <div class="container">
        <h2>Oops! Page Not Found</h2>
        <h1>404</h1>
        <p>We can't find the page you're looking for.</p>
        {% for message in messages %}
            <p>{{ message }}<p>
        {% endfor %}
        <a href="{% url 'home' %}">Go Back Home</a>
    </div>
</body>

</html>
