{% load static %}

<!-- CSS  -->
<style>
    .body-dark {
        color: #EEEEEE;
        background: #212121;
    }
    .body-dark .card , .body-dark .modal-content{
        color: #EEEEEE;
        background: #24353e;
    }

    .body-dark .card a {
        color: #33fff7;
    }

    .body-dark .card .text-muted {
        color: #c5fcff !important;
    }

    .body-dark .card h6 a{
            color: orange;
        }

    .body-dark  .card:hover{
            box-shadow: 0 0 25px 0 rgb(31, 194, 235);
        }
    svg[status="3"]{
        fill:#ffc107;
    }
    svg[status="2"]{
        fill:red;
    }
    svg[status="1"]{
        fill:green;
    }
</style>
