<footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/facebook" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                href="https://twitter.com/github?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>


            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://github.com/Instagram" role="button"
                data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/company/github"
                role="button" data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>

            <h3 class="map" style="color: black; font-family: serif; text-align: right;margin: -26px -58px;" >
                Mnnit map
                <!-- Location -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" style="padding: 13px 3px;" href="https://goo.gl/maps/hrkMMkPRKS6rwXHG9"
                    role="button" data-mdb-ripple-color="dark"><i class="fas fa-map-marker-alt"></i></a>
            </h3>


        </section>

        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <marquee>
            <a class="text-dark" href="https://github.com/ContriHUB/ContriHUB-21/issues">CAUTION: Website is Under
                Development! © 2021 Copyright:</a>
        </marquee>
    </div>
    <!-- Copyright -->
</footer>
