{% extends 'base.html' %}

{% block title %}
    Login or Signup
{% endblock %}

{% block content %}
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div style="display: flex; justify-content: center; margin-top: auto;">
                <!-- Github -->
            <a class="btn btn-lg btn-rounded text-white bg33" href="{% url 'social:begin' 'github' %}" role="button"
              >Continue with <i class="fab fa-github"></i
            ></a>

    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}


{% block javascript %}

{% endblock %}