{% for issue in issues %}
                <div class="col infinite-item">
                    <div class="card m-3 text-center" style="border-radius: 15px;">
                        <div class="card-header">
                            Issue #{{ issue.number }} - {{ issue.project.domain }}
                        </div>
                        <div class="card-body">

                            <h5 class="card-title">
                                <a href="{{ issue.html_url }}" target="_blank">{{ issue.title }}</a>
                            </h5>
                            <h6 class="">
                                <a data-mdb-toggle="tooltip" title="Project"
                                   href="{{ issue.project.html_url }}" target="_blank">{{ issue.project.name }}</a>
                            </h6>

                            <p class="card-text">
                                <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip"
                                   title="Mentor">@{{ issue.mentor }}</a>
                                <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip"
                                   title="Level">{{ issue.get_level_display }}</a>
                                <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip"
                                   title="Points">{{ issue.points }}</a>
                                {% if issue.is_restricted %}
                                    <a class="btn btn-rounded btn-warning" data-mdb-toggle="tooltip"
                                       title="Restricted">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </a>
                                {% endif %}
                            </p>

                        </div>
                        <div id="vote-section-{{ issue.pk }}">
                            {% include 'home/vote.html' %}
                        </div>
                        <div class="card-footer text-muted">

                            {% if issue in all_active_issues %} 
                                <button data-mdb-toggle="tooltip" data-mdb-placement="bottom"
                                    title="Already Assigned to this Contributor" type="button" class="btn btn-warning btn-rounded mt-0">
                                    <a class="text-white">
                                        Assigned to @{{ issue.contributor.username }}
                                    </a>
                                </button>
                            {% elif issue.state == issue.OPEN %}
                                <a class="btn btn-rounded btn-success">{{ issue.get_state_display }}</a>
                                <button data-mdb-toggle="tooltip" data-mdb-placement="bottom"
                                        title="Ask mentor for assigning Issue" type="button"
                                        class="btn btn-primary mt-0">
                                    <a class="text-white" href="{% url 'request_issue_assignment' issue.pk %}">
                                        Request Assignment
                                    </a>
                                </button>
                            {% else %}
                                <a class="btn btn-rounded btn-danger">{{ issue.get_state_display }}</a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
