{% extends 'base.html' %}
{% load static %}
{% comment %}
    context = {
        'projects': project_qs,
        'issues': issues_qs
    }
{% endcomment %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
    {# TODO:ISSUE Disable Request for Assignment Button of Assigned/Closed Issue from Frontend #}
    {# TODO:ISSUE Display who is currently working on this issue #}
    {# TODO:ISSUE Make Link open in new tab #}

    {% include "home/navbar.html"%}
    {# TODO:ISSUE Remove all Inline Styles and move to External CSS File #}
    {# TODO:ISSUE Currently Navbar vanishes when Browser Window Size is reduced, fix this #}
{#    <div class="text-center"><h1 class="display-6 text-white"><b>All Issues</b></h1></div>#}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="success" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
</svg>
{% for message in messages %}
<div id="msg" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#{{ message.tags }}"/></svg> {{ message }}
    <button type="button" onclick="removeMessage()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
    <div class="container-flow p-3" >
    <div class="row row-cols-1 row-cols-md-1">
                <div class="col">
                    <div class="card m-3" style="border-radius: 15px;">
                        <div class="card-header text-center">
                            <h6>Announcements!</h6>
                        </div>
                        <div class="card-body">
                            <ol>
                                <li class="animate slideInRight">
                                    <div class="animated slideInRight">
                                        <b>Note:</b> Be sure to submit the PR link from your profile under Currently Active Issues after raising PR on GitHUB. Otherwise the PR will not get merged.
                                    </div>
                                </li>
                                <li>
                                    <b>FIX:</b> Very-Easy Issues are made restricted by default now.
                                </li>
                                <li>
                                    Some issues are <b>locked</b> and will be unlocked only after you solve the once which are <b>mentioned in the description</b> of a locked Issues.
                                </li>
                                <li>
                                    <b>NOTE: </b>If your Issue Assignment is rejected, it is most probably because
                                    <ol>
                                        <li>
                                        Some other person has <b>already-requested/already-solving</b> the same issue.
                                        </li>
                                        <li>
                                        The issue is still locked. <b>So Check the Description of Issue on GitHub first then Request it.</b>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <span><b>Free Issues</b> are present so that you can learn the flow of Open Source Contributions using Github (i.e. Pull Requests, etc).</span>
                                    Go to any of the projects listed here, Open the <b>CONTRIBUTORS.md</b> file.
                                    Add your name, and create a Pull Request. These PR will not fetch you any points.</span>
                                </li>

                            </ol>
                        </div>
                        <div class="card-footer text-muted">
                        </div>
                    </div>
                </div>
        </div>
        <div class="d-flex justify-content-center shadow-lg p-3 rounded text-center" style="background-color: rgba(0, 0, 0, 0.2);margin: 0 1rem;">
            <div class="bg-transparent py-3 px-3 row row-cols-1 row-cols-md-3 text-white ">
                <div class="col align-self-center"><i class="lni lni-grid-alt"></i></div>
                <div class="col align-self-center">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="toggle-view">
                    </div>
                </div>
                <div class="col align-self-center"><i class="lni lni-list"></i></div>
            </div>
        </div>

        <div id="cardview">
            <div class="row row-cols-1 row-cols-md-2">
                {% for issue in issues %}
                <div class="col">
                    <div class="card m-3 text-center" style="border-radius: 15px;">
                        <div class="card-header">
                        Issue #{{ issue.number }} - {{ issue.project.domain }}
                        {% if issue.project.subdomain != None %}
                            ({{ issue.project.subdomain }})
                        {% endif %}
                        </div>
                        <div class="card-body">

                            <h5 class="card-title">
                                <a href="{{ issue.html_url }}">{{ issue.title }}</a>
                            </h5>
                            <h6 class="">
                                <a data-mdb-toggle="tooltip" title="Project" href="{{ issue.project.html_url }}">{{ issue.project.name }}</a>
                            </h6>

                            <p class="card-text">
                                <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Mentor">@{{ issue.mentor }}</a>
                                <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Level">{{ issue.get_level_display }}</a>
                                <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Points">{{ issue.points }}</a>
                                {% if issue.is_restricted %}
                                    <a class="btn btn-rounded btn-warning" data-mdb-toggle="tooltip" title="Restricted">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </a>
                                {% endif %}
                                
                            </p>

                        </div>
                        <div class="card-footer text-muted">
                            {% if issue.state == issue.OPEN %}
                                <a class="btn btn-rounded btn-success">{{ issue.get_state_display }}</a>
                                <button data-mdb-toggle="tooltip" data-mdb-placement="bottom"
                                    title="Ask mentor for assigning Issue" type="button" class="btn btn-primary mt-0">
                                    <a class="text-white" href="{% url 'request_issue_assignment' issue.pk %}">
                                        Request Assignment
                                    </a>
                                </button>
                            {% else %}
                                <a class="btn btn-rounded btn-danger">{{ issue.get_state_display }}</a>
                            {% endif %}
                            <a href="{% url 'like_issue' issue.pk %}"><button data-mdb-toggle="tooltip" title="Like" class="btn btn-rounded btn-primary" id="liveToastBtnlike{{issue.pk}}"><i class="fa-regular fa-thumbs-up fs-6 text-light">  {{issue.likes}}</i></button></a>
                            <a href="{% url 'dislike_issue' issue.pk %}"><button data-mdb-toggle="tooltip" title="Dislike" class="btn btn-rounded btn-danger" id="liveToastBtndislike{{issue.pk}}"><i class="fa-regular fa-thumbs-down fs-6 text-light">  {{issue.dislikes}}</i></button></a>
                        </div>
                    </div>
                </div>
                <script>
                    var option = {
                        animation: true,
                        delay: 2000
                    };
                    document.getElementById("liveToastBtnlike{{issue.pk}}").onclick=function() {
                        var myAlert = document.getElementById('liveToastlike')
                        var bsAlert = new bootstrap.Toast(myAlert, option);
                        bsAlert.show();
                    }
                </script>
                <script>
                    var option = {
                        animation: true,
                        delay: 2000
                    };
                    document.getElementById("liveToastBtndislike{{issue.pk}}").onclick=function() {
                        var myAlert = document.getElementById('liveToastdislike')
                        var bsAlert = new bootstrap.Toast(myAlert, option);
                        bsAlert.show();
                    }
                </script>
                {% endfor %}
            </div>
        </div>
        <div id="tabularview" class="mx-4" style="display: none;">
            <div class="row row-cols-1 row-cols-md-2" style="margin-top: 0.8rem;">
                <table class="table">
                    <thead class="bg-dark text-white">
                        <tr class="align-middle text-center">
                        <th scope="col">#</th>
                        <th scope="col">Issue</th>
                        <th scope="col">Project</th>
                        <th scope="col">Domain</th>
                        <th scope="col">Mentor</th>
                        <th scope="col">Points</th>
                        <th scope="col">Level</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    
                    {% for issue in issues %}
                        <tbody class="bg-light">
                        <tr class="align-middle text-center">
                            <th scope="row">{{ issue.number }}</th>
                            <td><a href="{{ issue.html_url }}">{{ issue.title }}</a></td>
                            <td><a data-mdb-toggle="tooltip" title="Project" href="{{ issue.project.html_url }}">{{ issue.project.name }}</a></td>
                            <td>{{ issue.project.domain }}</td>
                            <td>@{{ issue.mentor }}</td>
                            <td>{{ issue.points }}</td>
                            <td><a class="btn btn-rounded btn-info mt-0" data-mdb-toggle="tooltip" title="Level">{{ issue.get_level_display }}</a></td>
                            <td>
                                {% if issue.is_restricted %}
                                <button data-mdb-toggle="tooltip"
                                        title="Restricted" type="button" class="btn btn-rounded btn-warning mt=0">
                                    <a class="text-white"><i class="fas fa-exclamation-triangle"></i></a>
                                </button>
                                {% endif %}
                                
                                {% if issue.state == issue.OPEN %}
                                    <button data-mdb-toggle="tooltip"
                                        title="Issue is open" type="button" class="btn btn-rounded btn-success mt=0">
                                        <a class="text-white">{{ issue.get_state_display }}</a>
                                    </button>

                                    <button data-mdb-toggle="tooltip" 
                                        title="Ask mentor for assigning Issue" type="button" class="btn btn-primary mt-0">
                                        <a class="text-white" href="{% url 'request_issue_assignment' issue.pk %}">
                                            Request Assignment
                                        </a>
                                    </button>
                                    <a href="{% url 'like_issue' issue.pk %}"><button data-mdb-toggle="tooltip" title="Like" class="btn btn-rounded btn-primary" id="liveToastBtnlike1{{issue.pk}}"><i class="fa-regular fa-thumbs-up fs-6 text-light">  {{issue.likes}}</i></button></a>
                                    <a href="{% url 'dislike_issue' issue.pk %}"><button data-mdb-toggle="tooltip" title="Dislike" class="btn btn-rounded btn-danger" id="liveToastBtndislike2{{issue.pk}}"><i class="fa-regular fa-thumbs-down fs-6 text-light">  {{issue.dislikes}}</i></button></a>
                                {% else %}
                                    <a class="btn btn-rounded btn-danger">{{ issue.get_state_display }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                        <script>
                            var option = {
                                animation: true,
                                delay: 2000
                            };
                            document.getElementById("liveToastBtnlike1{{issue.pk}}").onclick=function() {
                                var myAlert = document.getElementById('liveToastlike')
                                var bsAlert = new bootstrap.Toast(myAlert, option);
                                bsAlert.show();
                            }
                        </script>
                        <script>
                            var option = {
                                animation: true,
                                delay: 2000
                            };
                            document.getElementById("liveToastBtndislike2{{issue.pk}}").onclick=function() {
                                var myAlert = document.getElementById('liveToastdislike')
                                var bsAlert = new bootstrap.Toast(myAlert, option);
                                bsAlert.show();
                            }
                        </script>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToastlike" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <strong class="me-auto fs-5">You liked this Issue</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            
        </div>
    </div>
   <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToastdislike" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
            <strong class="me-auto fs-5">You disliked this Isssue</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#toggle-view").click(function(){
        console.log("hello");
        $("#tabularview, #cardview").toggle();
    });
    function removeMessage() {
        $("#msg").hide();
    }
</script>

{% endblock %}

{# TODO:ISSUE Disable Request for Assignment Button of Assigned/Closed Issue from Frontend #}

{# TODO:ISSUE Add Contact Us Form, Email will be sent to Admin if user submits this. #}
