<!-- Navbar -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="{% static 'images/logo/ch.png' %}" height="45" alt="" loading="lazy"/>
            </a>
            <strong>
                <a class="navbar-brand text-success mt-2 mt-lg-0" href="{% url 'home' %}">
                    <b>ContriHUB</b>
                </a>
            </strong>
            <div class="d-flex align-items-center">
                <a class="nav-link" href="https://contrihub.github.io/#about" target="_blank">
                    <button type="button" class="btn btn-secondary btn-rounded" data-mdb-ripple-color="dark">
                        Rules
                    </button>
                </a>
            </div>

            <!-- Left links -->

            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rankings' %}">
                            <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                Ranking
                            </button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile'  user.username %}">
                            <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                User Profile
                            </button>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link">
                            <button type="button" class="btn btn-primary btn-rounded" data-toggle="modal" data-target="#exampleModal">
                                All Projects
                            </button>
                        </a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="max-width: fit-content;" role="document">
                              <div class="modal-content" style="background-color: #204278;">
                                <div class="modal-header" style="color: aliceblue;">
                                  <h5 class="modal-title" id="exampleModalLabel">All Projects</h5>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered text-white" cellpadding="10" cellspacing="5">
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Domain</th>
                                        </tr>
                                        {% for project in projects %}
                                            <tr>
                                                <td><a target="_blank" href="{{project.html_url}}"><button type="button" class="btn btn-lg btn-warning ">{{ project.name }}</button></td></a>
                                                <td><button type="button" class="btn btn-lg btn-warning">{{ project.domain }}</button></td></td>
                                            </tr>
                                        {% endfor %}
                                
                                    </table>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact_form' %}">
                            <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                                Contact Us
                            </button>
                        </a>
                    </li>
                </ul>
            {% endif %}
            <div class="form-check form-switch">
                <label class="form-check-label text-light">Dark Mode</label>
                <input class="form-check-input" type="checkbox" id="theme-control" onchange="darkmodetoggle(this.checked);" />
            </div>
        </div>
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            {% if not user.is_authenticated %}
                <a class="nav-link" href="{% url 'authorize' %}">
                    <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                        Authorize
                    </button>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'logout' %}">
                    <button type="button" class="btn btn-danger btn-rounded" data-mdb-ripple-color="dark">
                        Logout
                    </button>
                </a>
            {% endif %}
        </div>
        <!-- Right elements -->
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

