{% extends 'base.html' %}
{% comment %}
    context = {
        'form': form
    }
{% endcomment %}
{% block title %}
    Complete Profile
{% endblock %}

{% block content %}
    {#  TODO: ISSUE: Implement Front-end for this Form #}
    <div class="text-center text-white">
        <h1 class="display-6 text-white">Enter Following Information</h1>
        <form method="post" action="{% url 'complete_profile' %}">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} class="text-center font-italic"{% endif %} style="color: crimson;">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            <table class="d-inline-flex justify-content-center" border="2" cellspacing="5" cellpadding="10">
                {{ form.as_table }}
            </table>
            <br>
            {# TODO: Frontend Check on Registration Number ISSUE #}
            <input id="id_self_declaration" type="checkbox" onchange="toggleSubmitButton();">
            <label for="id_self_declaration" class="text-white">
                I verify that information provided by me is best to my knowledge.
                If any discrepancy is found, I can be debarred from the event.
            </label>
            <br> <br>
            <button id="id_submit" type="submit" disabled="disabled">
                <h3 id="id_submit_btn_content" class="text-white">Submit</h3>
            </button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function toggleSubmitButton() {
            let checkBox = document.getElementById('id_self_declaration');
            if(checkBox.checked === true){
                document.getElementById("id_submit").removeAttribute("disabled");
                document.getElementById("id_submit_btn_content").setAttribute("class", "text-black");
            } else {
                document.getElementById("id_submit").setAttribute("disabled", "disabled");
                document.getElementById("id_submit_btn_content").setAttribute("class", "text-white");
            }
        }

        function editLinkedInID(e)
            {
                e.preventDefault();
                $('.edit-linkedin-error').text('');
            }
    </script>
{% endblock %}