<!-- Navbar -->
{% load static %}
{# TODO:ISSUE Rankings Navbar is not Collapsible. Fix It #}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="{% static 'images/logo/ch.png' %}"
          height="45"
          alt=""
          loading="lazy"
        />
        </a>
      <a style="color: #39FF14" class="navbar-brand mt-2 mt-lg-0" href="{% url 'home' %}">
          <b>ContriHub</b>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a  class="nav-link" href="{% url 'home' %}">
                <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                    Home
                </button>
            </a>
        </li>
          {% if user.is_authenticated %}
            <li class="nav-item">
                <a  class="nav-link" href="{% url 'user_profile' user.username %}">
                    <button type="button" class="btn btn-primary btn-rounded" data-mdb-ripple-color="dark">
                        User Profile
                    </button>
                </a>
            </li>
          {% endif %}
      </ul>
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
  {% if user.is_authenticated %}
    <div class="d-flex align-items-center">
        <a class="nav-link" href="{% url 'logout' %}">
            <button type="button" class="btn btn-danger btn-rounded" data-mdb-ripple-color="dark">
                Logout
            </button>
        </a>
    </div>
  {% else %}
        <div class="d-flex align-items-center">
            <a class="nav-link" href="{% url 'authorize' %}">
                <button type="button" class="btn btn-success btn-rounded" data-mdb-ripple-color="dark">
                    Authorize
                </button>
            </a>
        </div>
  {% endif %}
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
