
{% extends 'base.html' %}
{% load static %}
{% block title %}
    PR Details
{% endblock %}
{% block content %}
    {% include "user_profile/pr_details_navbar.html" %}
    <div class="d-flex align-items-center">
        <a class="nav-link" href="{% url 'home' %}">
            <button type="button" class="btn btn-warning hBack btn-rounded" data-mdb-ripple-color="dark"><< Go Back</button>
        </a>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-120">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row">
                    <div class="col-md-4 gradient-custom text-center" style="display:flex; flex-direction:column; justify-content: center; border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        <div class="row mb-8 text-center" style="margin-left: auto; margin-right: auto;">
                            <h4><b>Project Name</b></h4>
                            <a class="btn btn-rounded btn-info text-white" href="{{ issue.project.html_url }}" target="_blank"><h3>{{ issue.project }}</h3></a>
                        </div>
                        <br>
                        <div class="row">
                                <img src="{{ user_avatar_url }}" alt="Avatar" style=" border-radius: 50%;width:80px ; margin-left: auto; margin-right: auto;"><br>
                                <label for="contributor"><b>Contributor</b></label>
                                <div class="col-sm">
                                <button data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="PR Submitted by {{ username }}" type="button" class="btn btn-warning btn-rounded mt-0">
                                    <a class="text-white">Submitted By @{{ username }}</a>
                                </button>
                                </div>
                        </div>
                        <br>
                        {% if merged_by_user != 'None' %}
                        <div class="row">
                            <img src="https://avatars.githubusercontent.com/{{ merged_by_user }}" alt="Avatar" style=" border-radius: 50%;width:120px ; margin-left: auto; margin-right: auto;"><br>
                                <label for="Merged By"><b>Merged By</b></label>
                                <div class="col-sm">
                                <button data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="PR Merged by {{ merged_by_user }}" type="button" class="btn btn-secondary btn-rounded mt-0">
                                    <a class="text-white">Merged By @{{ merged_by_user }}</a>
                                </button>
                                </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-8 text-center">
                        <div class="card-body p-4">
                            <h4><b>PR #{{ pr_no }} : {{ title }}</b></h4>
                            <hr class="mt-0 mb-4">
                            <p class="text-muted"></p>
                            <div class="row">
                                <h6><b>{{ username }}</b> wants to merge <b>{{ no_of_commits }}</b> commit into <b>{{ pr_to_repo_name }}</b> from <b>{{ head_label }}</b></h6>
                            </div>
                            <hr class="mt-0 mb-4">
                            <div class="row">
                                <h6><b>Created At</b> : {{ created_dt }}</h6>
                            </div>
                            {% if body != None %}
                            <div class="form-group purple-border">
                                    <label for="description"><b>Description</b></label>
                                    <div class="form-group basic-textarea rounded-corners">
                                        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="4" readonly >{{ body }}</textarea>
                                    </div>
                            </div>
                            {% endif %}
                            <div class="row mt-2">
                                <div class="col-4 mb-3">
                                    <h6><b>Status</b></h6>
                                    {% if merge_status == False %}
                                        <button data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Not Merged Yet" type="button" class="btn btn-success btn-rounded mt-0">
                                            <a class="text-white">Open</a>
                                        </button>
                                    {% else %}
                                        <button data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Not Merged Yet" type="button" class="btn btn-secondary btn-rounded mt-0">
                                            <a class="text-white">Merged</a>
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="col-4 mb-3">
                                    <h6><b>See Issue</b></h6>
                                    <a href="{% url 'issue_details' issue.pk %}" target="_blank"><button class="btn btn-dark" >Go to Issue</button></a>
                                </div>
                                <div class="col-4 mb-3">
                                    <h6><b>Visit GitHub</b></h6>
                                    <a href="{{ pr.pr_link }}" target="_blank"><button class="btn btn-success" >Go to PR</button></a>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-6 mb-3">
                                    <h6><b>Mergeable</b></h6>
                                    {% if mergeable == True %}
                                        <button data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="No Conflicts found." type="button" class="btn btn-success btn-rounded mt-0">
                                            <a class="text-white">Yes</a>
                                        </button>
                                    {% elif mergeable == False %}
                                        <button data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Conflicts found." type="button" class="btn btn-danger btn-rounded mt-0">
                                            <a class="text-white">Conflicts Present</a>
                                        </button>
                                    {% else %}
                                        <button data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Already Merged" type="button" class="btn btn-success btn-rounded mt-0">
                                            <a class="text-white">Already Merged</a>
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><b>Merged at</b></h6>
                                    {% if merge_status == True %}
                                    <button class="btn btn-info" >{{ merged_dt }}</button>
                                    {% else %}
                                    <button class="btn btn-info" >Not yet Merged</button>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-4 mb-3">
                                    <h6><b>Files Changed</b></h6>
                                    <button data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="{{ files_changed  }} has been changed." type="button" class="btn btn-danger btn-rounded mt-0">
                                        <a class="text-white">{{ files_changed }}</a>
                                    </button>
                                </div>
                                <div class="col-4 mb-3">
                                    <h6><b>Deletions Done</b></h6>
                                    <button data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="{{ deletions  }} lines has been removed." class="btn btn-danger" >{{ deletions }} line</button>
                                </div>
                                <div class="col-4 mb-3">
                                    <h6><b>Editable By Maintainer</b></h6>
                                    {% if maintainer_can_modify != True %}
                                    <button class="btn btn-danger" >No</button>
                                    {% else %}
                                    <button class="btn btn-success" >Yes</button>
                                    {% endif %}
                                </div>
                            </div>
                            {% if no_of_labels > 0 %}
                            <div class="row pt-1">
                                <h6><b>Labels</b></h6>
                                <div class="container mb-2">
                                    <p class="card-text">
                                    {% for l in labels %}
                                        <a class="btn btn-rounded btn-primary" data-mdb-toggle="tooltip" title="Level">{{ l }}</a>
                                    {% endfor %}
                                    </p>
                                </div>
                            </div>
                            {% else %}
                            <div class="row pt-1">
                                <h6><b>No Labels Assigned</b></h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}