{% extends 'base.html' %}
{# TODO:ISSUE Profile Navbar is not Collapsible. Fix It #}
{# TODO:ISSUE Add Links to All Username to Profile Page. #}
{% comment %}
    context = {
        "mentored_issues": mentored_issues,
        "pr_requests_by_student": pr_requests_by_student,
        "pr_requests_for_mentor": pr_requests_for_mentor,
        "assignment_requests_by_student": assignment_requests_by_student,
        "assignment_requests_for_mentor": assignment_requests_for_mentor,
        'pr_form': pr_form,

        // If the user visiting the profile is not same as the user whose profile is being visited (native user)
        "native_profile": UserProfile.objects.get(user__username=username),
    }
{% endcomment %}

{% block title %}
Profile @{{ native_profile.user.username }}
{% endblock %}

{% block content %}
    {% include "user_profile/navbar-profile.html" %}

    {% if user.is_authenticated %}
        {% include "user_profile/profile-card.html" %}

        {% comment %}
            In Django templates you can use the "get_FOO_display()" method, that will return the readable alias
            for the field, where 'FOO' is the name of the field.
        {% endcomment %}

        {% if user.username == native_profile.user.username %}
            {% if user.userprofile.role == user.userprofile.STUDENT %}
            <div class="d-flex align-items-center justify-content-center">
                <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                    <a style="border-bottom-left-radius:7px;border-top-left-radius:7px;" class="nav-link" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true" >
                        <div class="text-center"><b>Currently Active Issues</b></div></a>
                    </li>
                    <li class="nav-item" role="presentation">
                    <a
                        class="nav-link"
                        id="ex1-tab-2"
                        data-mdb-toggle="tab"
                        href="#ex1-tabs-2"
                        role="tab"
                        aria-controls="ex1-tabs-2"
                        aria-selected="false"
                        >
                        <div class="text-center"><b>Your Assignment Requests</b></div></a
                    >
                    </li>
                    <li class="nav-item" role="presentation">
                    <a
                        style="border-bottom-right-radius:7px;border-top-right-radius:7px;"
                        class="nav-link"
                        id="ex1-tab-3"
                        data-mdb-toggle="tab"
                        href="#ex1-tabs-3"
                        role="tab"
                        aria-controls="ex1-tabs-3"
                        aria-selected="false"
                        >
                        <div class="text-center"><b>PRs Submitted</b></div></a
                    >
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="ex1-content">
                    <div class="container-flow p-3 tab-pane fade" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1" >
                    <div class="row row-cols-1 row-cols-md-2">
                        {% for active_issue in active_issues %}
                            <div class="col">
                                <div class="card m-3 text-center" style="border-radius: 15px;">
                                    <div class="card-header">
                                    Issue #{{ active_issue.issue.number }}
                                    </div>
                                    <div class="card-body">

                                        <h5 class="card-title">
                                            <a href="{{ active_issue.issue.html_url }}">{{ active_issue.issue.title }}</a>
                                        </h5>
                                        <h6 class="">
                                            <a data-mdb-toggle="tooltip" title="Project" href="{{ active_issue.issue.project.html_url }}">{{ active_issue.issue.project.name }}</a>
                                        </h6>

                                        <p class="card-text">
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Mentor">
                                                @{{ active_issue.issue.mentor }}
                                            </a>
                                            <a class="btn btn-rounded btn-info">{{ active_issue.issue.get_level_display }}</a>
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Points">{{ active_issue.issue.points }}</a>
                                            {% if active_issue.issue.is_restricted %}
                                                <a class="btn btn-rounded btn-warning" data-mdb-toggle="tooltip" title="Restricted">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </a>
                                            {% endif %}
                                        </p>
                                    {# TODO:ISSUE: Implement Live Timer which ticks (instead of steady timer which changes on refreshing #}
                                    {# TODO:ISSUE: Turn Timer Color to Red when last 1 hour is remaining. #}
                                            {{ active_issue.get_remaining_time | timeuntil }} remaining

                                  </div>
                                    <div class="card-footer text-muted">
                                    {# TODO:ISSUE Create Check on URL in frontend so that it is a Valid Github PR URL.#}
                                        <form method="get" action="{% url 'submit_pr_request' active_issue.pk %}">
                                            <a class="btn btn-primary" data-mdb-toggle="tooltip" title="Enter PR Link">{{ pr_form.pr_link }}</a>
                                            <button class="btn btn-rounded btn-success" type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="container-flow p-3 tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <div class="row row-cols-1 row-cols-md-2">
                        {% for request in assignment_requests_by_student %}
                            <div class="col">
                                <div class="card m-3 text-center" style="border-radius: 15px;">
                                    <div class="card-header">
                                    Issue #{{ request.issue.number }}
                                    </div>
                                    <div class="card-body">

                                        <h5 class="card-title">
                                            <a href="{{ request.issue.html_url }}">{{ request.issue.title }}</a>
                                        </h5>
                                        <h6 class="">
                                            <a data-mdb-toggle="tooltip" title="Project" href="{{ request.issue.project.html_url }}">{{ request.issue.project.name }}</a>
                                        </h6>

                                        <p class="card-text">
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Mentor">
                                                @{{ request.issue.mentor }}
                                            </a>
                                            <a class="btn btn-rounded btn-info">{{ request.issue.get_level_display }}</a>
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Points">{{ request.issue.points }}</a>
                                            {% if request.issue.is_restricted %}
                                                <a class="btn btn-rounded btn-warning" data-mdb-toggle="tooltip" title="Restricted">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </a>
                                            {% endif %}
                                        </p>

                                  </div>
                                    <div class="card-footer text-muted">
                                        {% if request.state == request.ACCEPTED %}
                                            <a class="btn btn-rounded btn-success">{{ request.get_state_display }}</a>
                                        {% elif request.state == request.REJECTED %}
                                            <a class="btn btn-rounded btn-danger">{{ request.get_state_display }}</a>
                                        {% elif request.state == request.PENDING_VERIFICATION %}
                                            <a class="btn btn-rounded btn-warning">{{ request.get_state_display }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container-flow p-3 tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                    <div class="row row-cols-1 row-cols-md-2">
                        {% for pr in pr_requests_by_student %}
                            <div class="col">
                                <div class="card m-3 text-center" style="border-radius: 15px;">
                                    <div class="card-header">
                                    Issue #{{ pr.issue.number }}
                                    </div>
                                    <div class="card-body">

                                        <h5 class="card-title">
                                            <a href="{{ pr.issue.html_url }}">{{ pr.issue.title }}</a>
                                        </h5>
                                        <h6 class="">
                                            <a data-mdb-toggle="tooltip" title="Project" href="{{ pr.issue.project.html_url }}">{{ pr.issue.project.name }}</a>
                                        </h6>

                                        <p class="card-text">
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Mentor">
                                                @{{ pr.issue.mentor }}
                                            </a>
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Time Since">
                                                {{ pr.submitted_at | timesince }} ago
                                            </a>
                                        </p>

                                  </div>
                                    <div class="card-footer text-muted">
                                        <button class="btn btn-primary btn-rounded mt-0" data-mdb-toggle="tooltip" title="View PR">
                                            <a class="text-white" href="{{ pr.pr_link }}"><i class="fas fa-eye"></i></a>
                                        </button>
                                        {% if pr.state == pr.ACCEPTED %}
                                            <a class="btn btn-rounded btn-success">{{ pr.get_state_display }}</a>
                                            <form method="get" action="">
                                                <a class="btn btn-primary btn-success" data-mdb-toggle="tooltip" title="Bonus Points">{{ pr.bonus }}</a>
                                                <a class="btn btn-primary btn-danger" data-mdb-toggle="tooltip" title="Penalty Points">{{ pr.penalty }}</a>
                                                <a class="btn btn-primary" data-mdb-toggle="tooltip" title="Remark">{{ pr.remark }}</a>
                                            </form>
                                        {% elif pr.state == pr.REJECTED %}
                                            <a class="btn btn-rounded btn-danger">{{ pr.get_state_display }}</a>
                                            <form method="get" action="">
                                                <a class="btn btn-primary btn-success" data-mdb-toggle="tooltip" title="Bonus Points">{{ pr.bonus }}</a>
                                                <a class="btn btn-primary btn-danger" data-mdb-toggle="tooltip" title="Penalty Points">{{ pr.penalty }}</a>
                                                <a class="btn btn-primary" data-mdb-toggle="tooltip" title="Remark">{{ pr.remark }}</a>
                                            </form>
                                        {% elif pr.state == pr.PENDING_VERIFICATION %}
                                            <a class="btn btn-rounded btn-warning">{{ pr.get_state_display }}</a>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
            {% else %}
            <div class="d-flex align-items-center justify-content-center">
                <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                    <a style="border-bottom-left-radius:7px;border-top-left-radius:7px;" class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true" >
                        <div class="text-center"><b>PR Verification Requests</b></div></a>
                    </li>
                    <li class="nav-item" role="presentation">
                    <a
                        class="nav-link"
                        id="ex1-tab-2"
                        data-mdb-toggle="tab"
                        href="#ex1-tabs-2"
                        role="tab"
                        aria-controls="ex1-tabs-2"
                        aria-selected="false"
                        >
                        <div class="text-center"><b>Issue Assignment Requests</b></div></a
                    >
                    </li>
                    <li class="nav-item" role="presentation">
                    <a
                        style="border-bottom-right-radius:7px;border-top-right-radius:7px;"
                        class="nav-link"
                        id="ex1-tab-3"
                        data-mdb-toggle="tab"
                        href="#ex1-tabs-3"
                        role="tab"
                        aria-controls="ex1-tabs-3"
                        aria-selected="false"
                        >
                        <div class="text-center"><b>All Issues Under Me</b></div></a
                    >
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="ex1-content">
                <div class="container-flow p-3 tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1" >
                    <div class="row row-cols-1 row-cols-md-2">
                        {% for pr in pr_requests_for_mentor %}
                            <div class="col">
                                <div class="card m-3 text-center" style="border-radius: 15px;">
                                    <div class="card-header">
                                    Issue #{{ pr.issue.number }}
                                    </div>
                                    <div class="card-body">

                                        <h5 class="card-title">
                                            <a href="{{ pr.issue.html_url }}">{{ pr.issue.title }}</a>
                                        </h5>
                                        <h6 class="">
                                            <a data-mdb-toggle="tooltip" title="Project" href="{{ pr.issue.project.html_url }}">{{ pr.issue.project.name }}</a>
                                        </h6>

                                        <p class="card-text">
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Contributor">
                                                @{{ pr.contributor }}
                                            </a>
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Time Since">
                                                {{ pr.submitted_at | timesince }} ago
                                            </a>
                                        </p>

                                  </div>
                                    <div class="card-footer text-muted">
                                        <button class="btn btn-primary btn-rounded mt-0" data-mdb-toggle="tooltip" title="View PR">
                                            <a class="text-white" href="{{ pr.pr_link }}"><i class="fas fa-eye"></i></a>
                                        </button>
                                        {% if pr.state == pr.ACCEPTED %}
                                            <a class="btn btn-rounded btn-success">{{ pr.get_state_display }}</a>
                                            <form method="get" action="">
                                                <a class="btn btn-primary btn-success" data-mdb-toggle="tooltip" title="Bonus Points">{{ pr.bonus }}</a>
                                                <a class="btn btn-primary btn-danger" data-mdb-toggle="tooltip" title="Penalty Points">{{ pr.penalty }}</a>
                                                <a class="btn btn-primary" data-mdb-toggle="tooltip" title="Remark">{{ pr.remark }}</a>
                                            </form>
                                        {% elif pr.state == pr.REJECTED %}
                                            <a class="btn btn-rounded btn-danger">{{ pr.get_state_display }}</a>
                                            <form method="get" action="">
                                                <a class="btn btn-primary btn-success" data-mdb-toggle="tooltip" title="Bonus Points">{{ pr.bonus }}</a>
                                                <a class="btn btn-primary btn-danger" data-mdb-toggle="tooltip" title="Penalty Points">{{ pr.penalty }}</a>
                                                <a class="btn btn-primary" data-mdb-toggle="tooltip" title="Remark">{{ pr.remark }}</a>
                                            </form>
                                        {% elif pr.state == pr.PENDING_VERIFICATION %}
                                            <a class="btn btn-rounded btn-warning">{{ pr.get_state_display }}</a>
                                            <button class="btn btn-primary btn-rounded mt-0" data-mdb-toggle="tooltip" title="Verify PR" id="frmbtn" onclick="showfrm()" type="button">
                                                Verify <i class="fas fa-caret-down"></i>
                                            </button>
                                            <form method="get" action="{% url 'judge_pr' pr.pk %}" id="frm">
                                                <a class="btn btn-primary btn-success" data-mdb-toggle="tooltip" title="Bonus Points">{{ judge_form.bonus }}</a>
                                                <a class="btn btn-primary btn-danger" data-mdb-toggle="tooltip" title="Penalty Points">{{ judge_form.penalty }}</a>
                                                <a class="btn btn-primary" data-mdb-toggle="tooltip" title="Remark">{{ judge_form.remark }}</a>
                                                <button class="btn btn-success mt-0" type="submit" name="accept">Accept</button>
                                                <button class="btn btn-danger mt-0" type="submit" name="reject">Reject</button>
                                            </form>
                                        {% endif %}

                                        
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container-flow p-3 tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                    <div class="row row-cols-1 row-cols-md-2">
                        {% for request in assignment_requests_for_mentor %}
                            <div class="col">
                                <div class="card m-3 text-center" style="border-radius: 15px;">
                                    <div class="card-header">
                                    Issue #{{ request.issue.number }}
                                    </div>
                                    <div class="card-body">

                                        <h5 class="card-title">
                                            <a href="{{ request.issue.html_url }}">{{ request.issue.title }}</a>
                                        </h5>
                                        <h6 class="">
                                            <a data-mdb-toggle="tooltip" title="Project" href="{{ request.issue.project.html_url }}">{{ request.issue.project.name }}</a>
                                        </h6>

                                        <p class="card-text">
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Requester">@{{ request.requester }}</a>
                                            <a class="btn btn-rounded btn-info">{{ request.issue.get_level_display }}</a>
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Points">{{ request.issue.points }}</a>
                                            {% if request.issue.is_restricted %}
                                                <a class="btn btn-rounded btn-warning" data-mdb-toggle="tooltip" title="Restricted">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </a>
                                            {% endif %}
                                        </p>
                                        {% if request.state == request.PENDING_VERIFICATION %}
                                        {{ request.requested_at | timesince }} ago
                                        {% endif %}
                                  </div>
                                    <div class="card-footer text-muted">
                                        {% if request.state == request.ACCEPTED %}
                                            <a class="btn btn-rounded btn-success">{{ request.get_state_display }}</a>
                                        {% elif request.state == request.REJECTED %}
                                            <a class="btn btn-rounded btn-danger">{{ request.get_state_display }}</a>
                                        {% elif request.state == request.PENDING_VERIFICATION %}
                                            <a class="btn btn-rounded btn-warning">{{ request.get_state_display }}</a>
                                            <button class="btn btn-success mt-0">
                                                <a class="text-white" href="{% url 'accept_issue_request' request.pk %}">
                                                    Accept
                                                </a>
                                            </button>
                                            <button class="btn btn-danger mt-0">
                                                <a class="text-white" href="{% url 'reject_issue_request' request.pk %}">Reject</a>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="container-flow p-3 tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                    <div class="row row-cols-1 row-cols-md-2">
                        {% for issue in mentored_issues %}
                            <div class="col">
                                <div class="card m-3 text-center" style="border-radius: 15px;">
                                    <div class="card-header">
                                    Issue #{{ issue.number }}
                                    </div>
                                    <div class="card-body">

                                        <h5 class="card-title">
                                            <a href="{{ issue.html_url }}">{{ issue.title }}</a>
                                        </h5>
                                        <h6 class="">
                                            <a data-mdb-toggle="tooltip" title="Project" href="{{ issue.project.html_url }}">{{ issue.project.name }}</a>
                                        </h6>

                                        <p class="card-text">
                                            <a class="btn btn-rounded btn-info">{{ issue.get_level_display }}</a>
                                            <a class="btn btn-rounded btn-info" data-mdb-toggle="tooltip" title="Points">{{ issue.points }}</a>
                                            {% if issue.is_restricted %}
                                                <a class="btn btn-rounded btn-warning" data-mdb-toggle="tooltip" title="Restricted">
                                                    <i class="fas fa-exclamation-triangle"></i>
                                                </a>
                                            {% endif %}
                                        </p>

                                  </div>
                                    <div class="card-footer text-muted">
                                        {% if issue.state == issue.OPEN %}
                                            <a class="btn btn-rounded btn-success">{{ issue.get_state_display }}</a>
                                        {% else %}
                                            <a class="btn btn-rounded btn-danger">{{ issue.get_state_display }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}
    {% else %}
        <div class="alert alert-secondary" role="alert">
            Hello, Anon. You need to Authorize with Github First.
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        function showfrm() {
            const btn = document.getElementById('frmbtn');

            btn.addEventListener('click', () => {
            const form = document.getElementById('frm');

            if (form.style.display === 'none') {
                form.style.display = 'block';
            } else {
                form.style.display = 'none';
            }
            });
        }
    </script>
    {% if user.username == native_profile.user.username and user.userprofile.role == user.userprofile.STUDENT %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            let csrftoken = getCookie('csrftoken');

            function toggleEditProfileModal()
            {
                $('.edit-profile-modal-blur').toggle();
                $('.edit-profile-modal').toggle();

                $('.edit-linkedin-error').text('');
                $('.edit-linkedin-success').text('');

                $('.edit-profile-error').text('');
                $('.edit-profile-success').text('');
            }

            function editLinkedInID(e)
            {
                e.preventDefault();
                $('.edit-linkedin-error').text('');
                $('.edit-linkedin-success').text('');
                $('.edit-profile-error').text('');
                $('.edit-profile-success').text('');

                let linkedin_id = $('#edit-linkedin').val();

                // Checking if the entered linkedin id is a valid url or not
                // Doing this because when we first enter our linkedin id when completing our profile
                // there is a url check performed by default html validation. So this keeps the frontend consistent
                let url_check = true;
                try
                {
                    let linkedin_id_url = new URL(linkedin_id);
                    url_check = (linkedin_id_url.protocol === "http:" || linkedin_id_url.protocol === "https:");
                }
                catch (_)
                {
                    console.log(_)
                    url_check = false;  
                }
                if (!url_check)
                {
                    $('.edit-linkedin-error').text('Please enter valid url!');
                    return;
                }

                fetch('/profile/user/linkedin_id/edit/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({ 'linkedin_id': linkedin_id })
                }).then(res => {
                    if (res.status === 200)
                    {
                        $('.profile-card-linkedin-id').text(linkedin_id);
                        $('.edit-linkedin-success').text('Linkedin ID has been edited successfully!');
                    }
                    else
                        $('.edit-linkedin-error').text('Enter valid LinkedIn ID!');
                });
            }

            function editProfile(e)
            {
                e.preventDefault();
                $('.edit-linkedin-error').text('');
                $('.edit-linkedin-success').text('');
                $('.edit-profile-error').text('');
                $('.edit-profile-success').text('');

                let profile_regno = $('#edit-regno').val();
                let profile_name = $('#edit-name').val();
                let profile_course = $('#edit-course').val();
                let profile_year = $('#edit-year').val();

                fetch('/profile/user/details/edit/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({ 
                        'profile_regno': profile_regno,
                        'profile_name': profile_name,
                        'profile_course': profile_course,
                        'profile_year': profile_year,
                    })
                }).then(res => {
                    if (res.status === 200)
                        $('.edit-profile-success').text('Request has been sent successfully!');
                    else
                        $('.edit-profile-error').text('Please try again later!');
                });
            }
        </script>
    {% endif %}
{% endblock %}
