<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 gradient-custom text-center"
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img src="https://github.com/{{ native_profile.user.username }}.png">
              <h5>
                {{ native_profile.user.first_name }} 
                {{ native_profile.user.last_name }}
              </h5>
              <a href = "https://www.github.com/{{ native_profile.user.username }}" target = "_blank"> <p>@{{ native_profile.user.username }}</p> </a>
            </div>
            <div class="col-md-8 text-center">
              <div class="card-body p-4">
                <h6><b>Personal Information</b></h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6><b>Role</b></h6>
                    <p class="text-muted">
                      {{ native_profile.get_role_display }}
                    </p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6><b>Regno</b></h6>
                    <p class="text-muted">
                      {{ native_profile.registration_no }}
                    </p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6><b>Course</b></h6>
                    <p class="text-muted">
                      {{ native_profile.get_course_display }}
                    </p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6><b>Month</b></h6>
                    <p class="text-muted">
                      {{ native_profile.get_current_year_display }}
                    </p>
                  </div>
                </div>

                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6><b>LinkedIn ID</b></h6>
                    <a href="{{ native_profile.linkedin_id }}" target="_blank">
                      <p class="text-muted">{{ native_profile.linkedin_id }}</p>
                    </a>
                  </div>
                </div>
                {% if native_profile.role == native_profile.STUDENT %}
                <h6><b>#Respect</b></h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6><b>Total Points</b></h6>
                    <p class="text-muted">{{ native_profile.total_points }}</p>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
