
<div class="modal fade" id="id_remarkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">PR Remarks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" id="id_remarkForm">
                    {% csrf_token %}
                    <div class="p-2">
                        <input name="remark" placeholder="Remark" type="text" class="form-control validate">
                    </div> 
                    <div style="float:left" class="p-2">
                        Bonus : <input type="radio" value="bonus" name="type">
                        Penalty : <input type="radio" value="penalty" name="type">
                    </div>
                    <div class="p-2">
                        <input name="points" placeholder="Bonus/Penalty Points" type="number" class="form-control validate">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-deep-orange">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
