
/* CSS FOR 404 PAGE ERROR */

*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(12deg,#48b583,#8d88d5);
}

.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
}

.container h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
}

.container a{
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 15px 34px;
    display: inline-block;
    border-radius: 25px;
    margin: 18px 6px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}
 .container a:hover{
     background: #e55039;
 }



