.bonus{
    position: absolute;
    float: left;
    left: -10px;
    top: -10px;
}
#star12 {
    background: red;
    width: 30px;
    height: 30px;
    position: absolute;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
#star12:before, #star12:after {
    content: "+5";
    color: white;
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: red;
}
#star12:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
#star12:after {
    -webkit-transform: rotate(-30deg);
}  