.float_right{
    float: right;
}
.float_left{
    float: left;
}
.card_style{
    display:flex;
    flex-direction:column;
    justify-content: center;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.border_radius{
    border-radius: 15px !important;
    border: 0px !important;
}
.border_radius2{
    border-radius: .5rem !important;
    border: 0px !important;
}
.margin_horizon{
    margin-left: auto; 
    margin-right: auto;
}
.img_css{
    border-radius: 50%;
    width:150px;
}
.dis_none{
    display: none;
}
.dis_block{
    display: block;
}
.bonus_css{
    font-weight: bolder;
    color:white;
    left:-4px;
}
.bg33{
    background-color: #333333;
}
.alice_blue{
    color: aliceblue;
}
.fit{
    max-width: fit-content;
    max-width: -moz-fit-content;
}
.bgNav{
    background-color: #204278;
}
.bgVote{
    background-color: #9fabbf;
}
.bg_trans{
    background-color: rgba(0, 0, 0, 0.2);
}
.bg_trans2{
    background-color: rgba(0, 0, 0, 0.3);
}
.margin_foot{
    margin: 47px 0px;
}
.border_none{
    border: 0;
}
.green_col{
    color: #39FF14 !important;
}
.bg_review{
    background-color: #e9e8f3;
}
.detail_box{
    text-align:center;
     width: 100%;
}
.hr_level{
    border: 1px solid Slateblue;
    border-radius: 2px;
}
.anime_trans{
    color: transparent;
    animation: effect 2s linear infinite;
}
.enable_bg{
    enable-background:new 0 0 100 100;
}
.text_center{    
    text-align:center;
}
.white_col{
    color: white;
}